<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="app-item">
    <template>
        <style>
            :host {
                display: inline-block;
                margin: 10px;
                width: 75px;
                height: 100px;
                overflow: hidden;
                position: relative;
            }

            center {
                /*                font-size: 16px;*/
                width: 90px;
            }

            paper-icon-button {
                padding: 0;
                width: 64px;
                height: 64px;
            }

            iron-icon {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 100;
                background: black;
                color: white;
                -webkit-border-radius: 100px;
                display: none;
            }

            :host:hover iron-icon {
                display: block;
            }

            iron-icon:hover {
                color: red;
                cursor: pointer;
            }
        </style>
        <!--
        <div>
            <button>XXX</button>
            <img src="{{app.icon}}" on-tap="launch" />
            <center>{{app.name}}</center>
        </div>
-->
        <iron-icon icon='icons:close' on-tap="removeApp"></iron-icon>
        <!--        <button>XXX</button>-->
        <paper-icon-button src="{{app.icon}}" on-tap="click"></paper-icon-button>
        <center>{{app.name}}</center>
    </template>

    <script>
        Polymer({
            is: 'app-item',
            properties: {
                app: Object
            },
            click: function () {
                if(this.app.optionsUrl) this.showOptions();
                else this.launchApp();
                //                if(this.app.appLaunchUrl) document.location = this.app.appLaunchUrl;
                //                else chrome.management.launchApp(this.app.id);
            },
            launchApp: function(){
                chrome.management.launchApp(this.app.id);
                chrome.tabs.getCurrent(function (tab) {
                    chrome.tabs.remove(tab.id)
                });
            },
            showOptions: function(){
                chrome.tabs.getCurrent(function (tab) {
                    console.log('options',this.app.optionsUrl);
                    chrome.tabs.update(tab.id, {
                        url: this.app.optionsUrl
                    });
                }.bind(this));
            },

            removeApp: function () {
                //                GG = this;
                //                this.addClass('hidden');
                chrome.management.uninstall(this.app.id, {
                    showConfirmDialog: true
                }, function () {
                    this.parentElement.ready();
                }.bind(this));
                //                this.parentElement.ready();
                //                this.$$('app-list').ready()
            }
        });
    </script>
</dom-module>
