<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="chrome-item" attributes="icon,name,url">
    <template>
        <style>
            :host {
                display: inline-block;
                margin: 10px;
                width: 75px;
                height: 100px;
                overflow: hidden;
            }

            center {
                /*                font-size: 15px;*/
                width: 75px;
            }

            paper-icon-button {
                padding: 0;
                color: #555;
                width: 64px;
                height: 64px;
            }
        </style>

        <paper-icon-button icon="{{icon}}" on-mousedown="go"></paper-icon-button>
        <center>{{name}}</center>
    </template>

    <script>
        Polymer({
            is: 'chrome-item',
            properties: {
                icon: String,
                name: String,
                url: String
            },
            go: function () {
                chrome.tabs.getCurrent(function (tab) {
                    chrome.tabs.update(tab.id, {
                        url: 'chrome://' + this.url.split('/').slice(3).join('/')
                    });
                }.bind(this));
                //                chrome.tabs.create({url:'chrome://'+this.url});
                //                window.open('chrome://'+this.url);
                //                document.location = 'chrome://'+this.url;
            }
        });
    </script>
</dom-module>
